<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 Rails102
        <br>Design by
        <a href="http://jiaching.com/家慶查理/" target=_new>家慶</a>
    </p>
</footer>
